<p class="title vertical-center"><b>Kontrollstrukturen Übungen</b></p>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 76.1 a&#41;</p>
  <p class = "glowing-text-comment">//for (let i = 1; i < 5; i++)</p>
  <div class="grid-container">
    <div class="grid-item glowing-text">
      {{aufgabe_76_1_range_a()}}
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 76.1 b&#41;</p>
  <p class = "glowing-text-comment">//for (let i = 3; i < 5; i++)</p>
  <div class="grid-container">
    <div class="grid-item glowing-text">
      {{aufgabe_76_1_range_b()}}
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 76.1 c&#41;</p>
  <p class = "glowing-text-comment">//for (let i = 0; i < 100; i += 2)</p>
  <div class="grid-container">
    <div class="grid-item glowing-text">
      {{aufgabe_76_1_range_c()}}
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 76.2&#41;</p>
  <p class = "glowing-text-comment">//for (let i = 0; i < animals.length; i++)</p>
  <div class="grid-container">
    <div class="grid-item glowing-text">
      <textarea readonly class = "text-area" rows=6 columns="20">{{aufgabe_76_2()}}</textarea>
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 76.3&#41;</p>
  <div class="grid-container">
    <div class="grid-item">
      <input type="text" #input placeholder="Enter a word">
      <button (click)="aufgabe_76_3_add(input.value)">Submit</button>
      <button (click)="aufgabe_76_3_clear()">Clear</button>
    </div>
    <div class="grid-item glowing-text">
      <textarea readonly class="text-area" rows="6" cols="20">{{aufgabe_76_3()}}</textarea>
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 79.1 &#40;IF-Anweisungen&#41;</p>
  <p class = "glowing-text-comment">//if (inputNumber > 10)</p>
  <div class="grid-container">
    <div class="grid-item">
      <p class = "glowing-text">Enter a Number: </p>
    </div>
    <div class="grid-item">
      <input type="number" #input79_1 (input)="aufgabe_79_1(input79_1.value)" placeholder="Enter a number" style="padding: 5px;">
    </div>
    <div class="grid-item result">
      {{ aufgabe_79_1_result }}
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 79.2</p>
  <p class = "glowing-text-comment">//find min & max of input</p>
  <div class="grid-container">
    <div class="grid-item">
      <input type="text" #input79_2 placeholder="Enter a number">
      <button (click)="aufgabe_79_2_add(input79_2.value)">Submit</button>
      <button (click)="aufgabe_79_2_clear()">Clear</button>
    </div>
    <div class="grid-item glowing-text">
      <textarea readonly class="text-area" rows="6" cols="20">{{aufgabe_79_2()}}</textarea>
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 79.3</p>
  <p class = "glowing-text-comment">//check if input is a leap year</p>
  <div class="grid-container">
    <div class="grid-item">
      <p class = "glowing-text">Enter a Number: </p>
    </div>
    <div class="grid-item">
      <input type="number" #input79_3 (input)="aufgabe_79_3(input79_3.value)" placeholder="Enter a number" style="padding: 5px;">
    </div>
    <div class="grid-item result">
      {{ aufgabe_79_3_result }}
    </div>
  </div>
</div>

<hr class="separator">

<div class="section">
  <p class = "glowing-text">Aufgabe 79.4</p>
  <p class = "glowing-text-comment">//calculate final grade based on crazy metrics</p>
  <div class="grid-container">
    <div class="grid-item">
      <p class="glowing-text">Grade: </p>
    </div>
    <div class="grid-item">
      <input type="number" min="1" max="6" step="0.5" #gradeInput placeholder="Enter a grade" style="padding: 5px;" (input)="aufgabe_79_4(gradeInput.value, darkEyeColor.checked, longHair.checked, niceWeather.checked, hasSushi.checked, isStrong.checked)">
    </div>
    <div class="grid-item">
      <input type="checkbox" #darkEyeColor (change)="aufgabe_79_4(gradeInput.value, darkEyeColor.checked, longHair.checked, niceWeather.checked, hasSushi.checked, isStrong.checked)"> 👁️
    </div>
    <div class="grid-item">
      <input type="checkbox" #longHair (change)="aufgabe_79_4(gradeInput.value, darkEyeColor.checked, longHair.checked, niceWeather.checked, hasSushi.checked, isStrong.checked)"> 👩‍🦰
    </div>
    <div class="grid-item">
      <input type="checkbox" #niceWeather (change)="aufgabe_79_4(gradeInput.value, darkEyeColor.checked, longHair.checked, niceWeather.checked, hasSushi.checked, isStrong.checked)"> 🌤️
    </div>
    <div class="grid-item">
      <input type="checkbox" #hasSushi (change)="aufgabe_79_4(gradeInput.value, darkEyeColor.checked, longHair.checked, niceWeather.checked, hasSushi.checked, isStrong.checked)"> 🍣
    </div>
    <div class="grid-item">
      <input type="checkbox" #isStrong (change)="aufgabe_79_4(gradeInput.value, darkEyeColor.checked, longHair.checked, niceWeather.checked, hasSushi.checked, isStrong.checked)"> 💪
    </div>
    <div class="grid-item result" style="width: 200px;">
      {{ aufgabe_79_4_result }}
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 83.1 &#40;While-Schleife&#41;</p>
  <p class = "glowing-text-comment">//while &#40;n < 100&#41;</p>
  <div class="grid-container">
    <div class="grid-item glowing-text">
      {{aufgabe_83_1()}}
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 83.2</p>
  <p class = "glowing-text-comment">//check how many years to reach 1'000'000</p>
  <div class="grid-container">
    <div class="grid-item">
      <p class = "glowing-text">Enter your starting cash: </p>
    </div>
    <div class="grid-item">
      <input type="number" #input83_2 (input)="aufgabe_83_2(input83_2.value)" placeholder="Enter a number" style="padding: 5px;">
    </div>
    <div class="grid-item result">
      {{ aufgabe_83_2_result }}
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 83.3</p>
  <p class = "glowing-text-comment">//calculate depreciation</p>
  <div class="grid-container">
    <div class="grid-item">
      <p class = "glowing-text">Cash: </p>
    </div>
    <div class="grid-item">
      <input type="number" #input83_3_cash (input)="aufgabe_83_3(input83_3_cash.value, input83_3_years.value)" placeholder="Enter a number" style="padding: 5px;">
    </div>
    <div class="grid-item">
      <p class = "glowing-text">Years: </p>
    </div>
    <div class="grid-item">
      <input type="number" #input83_3_years (input)="aufgabe_83_3(input83_3_cash.value, input83_3_years.value)" placeholder="Enter a number" style="padding: 5px;">
    </div>
    <div class="grid-item glowing-text">
      <textarea readonly class="text-area" rows="6" cols="20" style ="width: 300px;">{{aufgabe_83_3_result}}</textarea>
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 83.4</p>
  <p class = "glowing-text-comment">//rolling a die until we roll a 6</p>
  <div class="grid-container">
    <div class="grid-item">
      <button (click)="aufgabe_83_4()" style="padding: 20px;">Roll🎲</button>
    </div>
    <div class="grid-item glowing-text">
      <textarea readonly class="text-area" rows="6" cols="20" style ="width: 300px;">{{aufgabe_83_4_result}}</textarea>
    </div>
  </div>
</div>


<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 84.1</p>
  <p class = "glowing-text-comment">//rolling a die until the sum is greater than 100</p>
  <div class="grid-container">
    <div class="grid-item">
      <button (click)="aufgabe_84_1()" style="padding: 20px;">Roll🎲</button>
    </div>
    <div class="grid-item glowing-text">
      <textarea readonly class="text-area" rows="6" cols="20" style ="width: 300px;">{{aufgabe_84_1_result}}</textarea>
    </div>
  </div>
</div>

<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 84.2</p>
  <p class = "glowing-text-comment">//random number guessing game</p>
  <div class="grid-container">
    <div class="grid-item">
      <p class = "glowing-text">Enter a Number: </p>
    </div>
    <div class="grid-item">
      <input type="number" #input84_2 placeholder="Enter a number">
      <button (click)="aufgabe_84_2(input84_2.value)">Guess</button>
    </div>
    <div class="grid-item result">
      {{ aufgabe_84_2_result }}
    </div>
  </div>
</div>


<hr class="separator">

<div class = "section">
  <p class = "glowing-text">Aufgabe 84.3</p>
  <p class = "glowing-text-comment">//lotto game</p>
  <div class="grid-container">
    <div class="grid-item">
      <p class = "glowing-text">Enter a Number: </p>
    </div>
    <div class="grid-item">
      <div class="container">
        <input type="text" value="1234" maxlength="4">
      </div>
    </div>
  </div>
</div>
