/* You can add global styles to this file, and also import other style files */

.vertical-center {
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

body {
    background: rgb(34, 32, 43);
}
  